.form-group(ng-class="{ 'has-error' : hotelForm.title.$dirty && hotelForm.title.$invalid }")
  label.col-sm-3.control-label(for="name") Заголовок
  .col-sm-9
    input.form-control#title(type="text", name="title", ng-model="c.hotel.title", ng-required="true", placeholder="Заголовок")
    span.error-message(ng-show="hotelForm.title.$dirty && hotelForm.title.$invalid") Обязательное поле
.form-group(ng-class="{ 'has-error' : hotelForm.description.$dirty && hotelForm.description.$invalid }")
  label.col-sm-3.control-label(for="description") Описание
  .col-sm-9
    textarea.form-control#description(cols="8", rows="6", name="description", ng-model="c.hotel.description", placeholder="Описание")
    span.error-message(ng-show="hotelForm.description.$dirty && hotelForm.description.$invalid") Обязательное поле
.form-group
  label.col-sm-3.control-label Координаты
  .col-sm-9
    ui-gmap-google-map(center='c.options.map.center', zoom='c.options.map.zoom', events='c.options.events')
      ui-gmap-marker(coords='c.hotel', options='c.options.point', icon="'icon'", idKey='c.options.point.id')
.form-group(ng-if="c.hotel.image")
  label.col-sm-3.control-label Текущее изображение
  .col-sm-9
    img(ng-src="{{c.hotel.image}}")
.form-group
  label.col-sm-3.control-label Новое Изображение
  .col-sm-9
    input(type="file", img-cropper-fileread, image="c.sourceImage")
    div
      canvas(
        image-cropper,
        width         = "500",
        height        = "300",
        id            = "canvas",
        image         = "c.sourceImage",
        cropped-image = "c.hotel.cropped_image",
        crop-width    = "200",
        crop-height   = "200",
        keep-aspect   = "true",
        touch-radius  = "30",
      )
    div(ng-show="c.hotel.cropped_image")
      img(ng-src="{{c.hotel.cropped_image}}")
.form-group
  .col-sm-9.col-sm-offset-3
    button.btn.btn-success(type="submit", ng-click="c.saveHotel()") Сохранить