nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(ui-sref="places.all") Путеводитель
    .navbar-collapse 
      ul.nav.navbar-nav
        li
          a(ui-sref="places.all") Достопримечательности